%h1 Log in
= form_tag sessions_path do
  .field
    %label Name
    = text_field_tag :name, params[:name], class: "form-control", placeholder: "Name"
  .field
    %label Password
    = password_field_tag :password, params[:password], class: "form-control", placeholder: "Password"
  .actions
    = submit_tag "Log in", class: 'btn btn-default'
