<h1>Notes</h1>

<%= link_to(new_note_path) do %>
	<span class="glyphicon glyphicon-plus"></span> New Note
<% end %>

    <% @notes.each do |note| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to note.name, note %>
        </div>
        <div class="panel-body"><%= markdown(note.text) %></div>
      </div>
    <% end %>

<br>

