<h1>Notes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.name, note %></td>
        <td><%= note.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
