<h1>Notes</h1>

    <% @notes.each do |note| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to note.name, note %>
        </div>
        <div class="panel-body"><%= markdown(note.text) %></div>
      </div>
    <% end %>

<br>

<%= link_to 'New Note', new_note_path %>
