<h1>Listing note_tags</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @note_tags.each do |note_tag| %>
      <tr>
        <td><%= link_to 'Show', note_tag %></td>
        <td><%= link_to 'Edit', edit_note_tag_path(note_tag) %></td>
        <td><%= link_to 'Destroy', note_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note tag', new_note_tag_path %>
