%h1 Links
%p
  = link_to(new_link_path, class: 'btn btn-sm btn-default') do
    %span.glyphicon.glyphicon-plus
    New Link
= render 'shared/links', links: @links
= will_paginate @links, renderer: BootstrapPagination::Rails
