%h1 Tags
%table.table.table-hover
  %thead
    %tr
      %th Tag
      %th Links
  %tbody
    - @tags.each do |tag|
      %tr
        %td
          %span(class="tag-color-box label-#{tag.color}")
          = link_to tag.name, tag
        %td= tag.links_count
= paginate @tags
