<h1><%= @tag.name %></h1>

<p>
  <%= link_to 'Edit', edit_tag_path(@tag), class: 'btn btn-sm btn-default' %>
</p>

<p>
  <%= markdown @tag.description %>
</p>

<%= render 'shared/links', links: @tag.links %>
