$input-border-focus: #bbb;
$navbar-default-link-hover-color: red;
$link-color: #000;
$link-hover-color: red;

// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #fff;
  max-width: 768px;
  border-left: auto;
  border-right: auto;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  .navbar-brand {
    font-weight: bold;
  }
@media (min-width: $grid-float-breakpoint) {
  nav {
    ul.navigation-links {
      li.navigation-item {
        margin-left: 3px;
        margin-right: 3px;
        a {
          padding-left: 12px !important;
          padding-right: 12px !important;
          background: transparent !important;
        }
      }
      li.navigation-item.active, li.navigation-item:hover {
        box-shadow: inset #a8a8a8 0 -3px 0 0;
      }
    }
  }
}

.label-yellow {
  @include label-variant(#c4f403);
}

.label-blue {
  @include label-variant(#124bc4);
}

.label-green {
  @include label-variant(#1c9d16);
}

.label-light_blue {
  @include label-variant(#25b6ef);
}

.label-yellow {
  @include label-variant(#c5da23);
}

.label-red {
  @include label-variant(#e61717);
}
