// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry {
  padding-bottom: 20px;
}
.link a {
	text-decoration: none;
    color: #333332 !important; 
}
.domain a {
	color: grey !important;
}
.label a {
	color: white !important;
}
.description {
	color: grey;
}
