// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note-timestamp {
  float: right;
}
.note {
  h1 {
    font-size: 33px;
    line-height: 33px;
  }
  h2 {
    font-size: 28px;
    line-height: 28px;
  }
  h1, h2, h3, h4, h5 {
    margin-top: 0px;
  }
}
