.entry {
  padding-bottom: 20px;
}
.domain a {
  color: grey;
  &:hover {
    color: red;
  }
}
.label a {
  color: white !important;
  &:hover {
    text-decoration: underline;
  }
}
.description {
  color: grey;
}

ul.nobullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
}

#notice {
  color: green;
}
