.entry {
  padding-bottom: 20px;
}
.domain a {
  color: grey;
  &:hover {
    color: red;
  }
}
.label a {
  color: white !important;
  &:hover {
    text-decoration: underline;
  }
}
.description {
  color: grey;
}

ul.nobullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    margin-top: 5px;
    font-size: 12px;
    list-style: square;
  }
}
