- if current_user
  %li.navigation-item{class: params[:controller] == 'links' && 'active'}
    = link_to "Links", links_path
  %li.navigation-item{class: params[:controller] == 'tags' && 'active'}
    = link_to "Tags", tags_path
  %li.navigation-item{class: params[:controller] == 'domains' && 'active'}
    = link_to "Domains", domains_path
  %li.navigation-item{class: params[:controller] == 'notes' && 'active'}
    = link_to "Notes", notes_path
